<% if notice != nil && notice != '' %>
  <div class="alert alert-success alert-dismissible fade show w-25 mx-auto mt-2" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>


<div class="w-100 d-flex my-2" id="header">
  <h2 class="ml-3 d-inline text-white">Minhas tarefas</h2>
  <%= link_to 'Nova tarefa', "#", id: "new_task_bt", class: "btn btn-primary ml-auto mr-2" %>
  <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-danger ml-1 mr-2" %>
</div>

<div class="fluid-container mt-5 px-3">
  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <h4 class="ml-1 text-white">A fazer</h3>

      <% @tasks[:to_do].each do |task| %>

      <div class="card task-card">
        <div class="card-body">
          <h5 class="card-title">
          <%= task.title %>
          
          <%= link_to task_path(task.id), method: :delete, class: "close", data: {confirm: 'Você tem certeza que deseja excluir essa tarefa?'} do %>
            <i class="fas fa-trash"></i>
          <% end %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= task.deadline.strftime("%d/%m/%Y") %></h6>
          <p class="card-text">
            <%= task.description %>
          </p>
          <a href="#" class="card-link edit-task" onclick="editTask(<%=task.id%>)" data-turbolinks="false">
            Editar</a>
          <a href="#" class="card-link update-task" onclick="updateTaskStatus(<%=task.id%>, 'done')">Marcar como feita</a>
        </div>
      </div>

      <% end %>

    </div>
    <div class="col-12 col-md-6">
      <h4 class="ml-1 text-white">Feitas</h3>
      <% @tasks[:done].each do |task| %>

      <div class="card task-card">
        <div class="card-body">
          <h5 class="card-title">
            <%= task.title %>

            <%= link_to task_path(task.id), method: :delete, class: "close", data: {confirm: 'Você tem certeza que deseja excluir essa tarefa?'} do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
           
          </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= task.deadline.strftime("%d/%m/%Y") %></h6>
          <p class="card-text">
            <%= task.description %>
          </p>
          <a href="#" class="card-link edit-task" onclick="editTask(<%=task.id%>)" data-turbolinks="false">
            Editar</a>
          <a href="#" class="card-link update-task" onclick="updateTaskStatus(<%=task.id%>, 'to_do')">Marcar como a fazer</a>
        </div>
      </div>
      
      
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      
      
      
    </div>
  </div>
</div>



<!-- Modal -->
<div
  class="modal fade"
  id="task_modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-turbolinks="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_title">Nova Tarefa</h5>
        <button  type="button" class="close" data-dismiss="modal" 
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="form_body" class="modal-body"></div>
    </div>
  </div>
</div>

<script>
  $("document").ready(function() {
    $("#new_task_bt").click(function(ev) {
      $("#form_body").html(`<%= render 'tasks/form_new_task' %>`);
      $("#modal_title").html("Nova tarefa");
      $("#task_modal").modal("show");
      ev.preventDefault();
    });
    
  });

  function updateTaskStatus(task_id, new_status) {
      console.log(task_id);
      $.ajax({
      url: `/tasks/${task_id}`,
      data: {
        authenticity_token: $('[name="csrf-token"]')[0].content, 
        task: { status: new_status } 
      },
      method: "PUT",
      success: function(res) {
        
      }
    });
  }

  function editTask(task_id) {

    $.ajax({
      url: `/tasks/${task_id}/edit`,
      header: { authenticity_token: $('[name="csrf-token"]')[0].content },
      method: "GET",
      success: function(res) {
        
      }
    });
  }
</script>
